<ion-view view-title="Competences">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in" style="background-image: url('img/parallax1.jpg'); background-size: cover;">
        <div class="item card-item">
            <div class="card card-competence">
                <h2>Languages</h2>
                <img src="img/langages.jpg">
            </div>
        </div>
        <div class="item card-item">
            <div class="card card-competence">
                <h2>Supports</h2>
                <img src="img/supports.jpg">
            </div>
        </div>
        <div class="item card-item">
            <div class="card card-competence">
                <h2>Autres</h2>
                <img src="img/autres.jpg">
            </div>
        </div>

    </ion-content>
</ion-view>
