<ion-view view-title="home" align-title="left">
    <ion-content style="background: url(img/parallax1.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Herouard Antoine</h1>
            </div>
        </div>
        <div class="padding">
            <button ui-sref="app.profil" class="button button-full button-calm ink">Entrez ...</button>
        </div>
    </ion-content>
</ion-view>
