<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm" align-title="center">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/avatar1.png'); background-size: cover;"></span>
            <h2>Herouard</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.profil">
                    Profil
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.formations">
                    Formations
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.experiences">
                    Expériences
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.competences">
                    Compétences
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
